# Dependencies
node_modules/

# Next.js
.next/
.next/analyze/
out/

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/generated/

# Vercel
.vercel/

# Bundle analyzer
.next/analyze/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Coverage
coverage/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
